* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAFAFA;
}

header {
  height: 90px;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.h-flex {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links ul li {
  margin: 0 20px;
}

.menu__links {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
.menu__links h1{
  color: #000000;
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  max-width: 500px;
  height: 300px;
  align-items: center;
}

.login-form {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.login-form li{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 10px 10px;
}

.login-form > li > label {
  flex: 1 0 120px;
  max-width: 220px;
  font-size: 14px;
}

.login-form li input {
  padding: 5px;
  border: none;
  width: 200px;
}

.login-form li button {
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  margin: auto;
}

.t-lists {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: 150px;
}

.t-tr {
  display: table-row;
}

.t-td {
  display: table-cell;
  text-align: center;
  border: none;
  border-bottom: 1px solid #C5DDE8;
  vertical-align: middle;
  padding: 10px 0;
}

.t-td:hover {
  cursor: pointer
}

.t-button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}

.t-button:hover {
  background-position: right center;
  cursor: pointer
}

.add-entity-form {
  margin-top: 50px;
}

.add-entity-form li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-entity-form > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.add-entity-form li input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #C5DDE8;
}

.entity {
  margin-top: 150px;
}

.entity li {
  display: flex;
  margin: 20px 0;
}

.entity > li > p {
  flex: 1 0 120px;
  max-width: 220px;
}

.entity li div{
  border-bottom: 1px solid #C5DDE8;
}

